<div style="height: 30vh;" id="player-field-wrapper">
  <div class="row no-margin">
    <div class="col" style="">
      <div class="row">
        <div *ngFor="let card of getHand()" class="col hand-card" [@slideUpDown]="isHoveringOver(card) ? 'slidUp' : 'slidDown'">
          <p>
            {{card.getHeaderInfo()}}
            <i class="fas fa-search card-detail-viewer-toggle" (click)="showCardDetail(card)"></i>
          </p>
          <img class="hand-card-img"
               [src]="card.getArt()"
               (mouseenter)="hoveringOverCard(card)"
               (mouseleave)="leaveHoveringOverCard(card)"
               (click)="play(card)"
              />
        </div>
      </div>
    </div>
  </div>
</div>
